.infoAdicionalBox {
    background-color: #5E4A41;
    color: #fff;
    height: 100%;
}

.masInfo {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}