/*quienes somos-boostrap*/

.img-fluid {
    width: 90%;
    height: 750px;
}

.tituloQuieneSomos {
    margin: 20px;
    font-family: 'Italianno', cursive;
    font-size: 50px;
    color: #5E4A41;
}

.parrafo-contenido {
    margin: 20px;
}
