/*Google-font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
/* colores */
:root {
    --clr-main: #D1C7BD;
    --clr-titulo: #5E4A41;
    --clr-white: #fdfdfd;
    --clr-black: #141010;
    --clr-gray: #ede9e3;
}
img{
    width: 100%;
}
body{
    color: var(--clr-black);
}
.container nav{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
.container{
    padding: 90px 0 48px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-main);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 1000;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 193px;
    height: 83px;
    margin-left: 40px;
}
.nav .icono{
    color: var(--clr-titulo); 
    padding: 70px;
    font-size: 20px;
    cursor: pointer;
}
/*carrito de compras*/
.carrito{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--clr-white);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}
.carrito.active{
    right: 0;
}
.carrito-conteiner {
    max-height: 80vh; /* Establece el límite máximo de altura del contenedor del carrito */
    overflow-y: auto; /* Agrega un scroll vertical cuando los elementos superen la altura máxima */
}


.titulo-carrito{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-titulo);
    margin-top: 16px;
}
.mensaje-vacio {
    display: none; /* Inicialmente oculto */
    text-align: center;
    font-weight: bold;
    color: red;
    margin-top: 10px;
}

.carrito-card{
    display: grid;
    grid-template-columns: 35% 30% 18%;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.carrito-imagen{
    width: 100px;
    object-fit: contain;
    padding: 10px;
}
.carrito-detalle{
    display: grid;
    row-gap: 8px;
}
.titulo-producto{
    font-size: 16px;

}
.precio-producto{
    font-weight: 500;
}
.cantidad-producto{
    border: 1px solid var(--clr-titulo);
    outline-color: var(--clr-main);
    width: 30px;
    text-align: center;
}
.eliminar-producto{
    width: 30px;
    background-color: #5E4A41;
    color: var(--clr-main);
    font-size: 14px;
    cursor: pointer;
}
.total{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    border-top: 1px solid var(--clr-titulo);
}
.total h2{
    font-size: 18px;
    font-weight: 500;
}
.precio-total{
    margin-left: 8px;
}
.boton-eliminar{
    display: flex;
    margin: 8px auto 0 auto;
    padding: 10px 22px;
    border: none;
    background-color: var(--clr-titulo);
    color: var(--clr-white);
    font-size: 12px;
    width: 140px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
.boton-eliminar:hover{
    background-color: var(--clr-main);
    color: var(--clr-titulo);
}
.boton-comprar{
    display: flex;
    margin: 8px auto 0 auto;
    padding: 10px 38px;
    border: none;
    background-color: var(--clr-titulo);
    color: var(--clr-white);
    font-size: 12px;
    width: 140px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
.boton-comprar:hover{
    background-color: var(--clr-main);
    color: var(--clr-titulo);
}

.swal2-confirm {
    color: var(--clr-gray) !important;
    background-color: var(--clr-titulo) !important;
}
.swal2-confirm:focus{
    box-shadow: 0 0 0 0px !important;
}
.swal2-cancel {
    color: var(--clr-titulo) !important;
    background-color: var(--clr-main) !important;
}
.swal2-icon{
    border-color: #5E4A41 !important;
}
.swal2-icon-content i{
    color: #5E4A41 !important;
}
#cerrar {
    position:absolute; 
    top: 16px;
    right: 8px;
    font-size: 20px;
    color: var(--clr-titulo);
    cursor: pointer;
}
/* main */
.titulo{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--clr-titulo);
}
.contenido{
    margin-top: 32px;
}
/*Tarjetas*/
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    position: relative;
    width: 400px;
    height: 650px;
    margin: 30px;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 25px;
}
.card:hover{
    transform: scale(1.02);
}
.card img{
    width: 400px;
}
.titulo-card{
    margin-bottom: 8px;

}
.detalle{
    margin: 20px;
}
.descripcion{
    margin-bottom: 5px;
}
.precio{
    font-weight: 500;
}
.agregar{
    margin-top: 5px;
    background-color: var(--clr-titulo);
    color: var(--clr-white);
    width: 150px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

